.places-card__iframe {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 355px;
  height: 48px;
  background: #0278FE;
  border-radius: 4px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  column-gap: 40px;
}

.places-card__iframe:hover {
	background: #0063D2;
}